<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %} {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<style>
    hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
</style>


{% set navigation_bar = [
    ('/home/', 'home', 'Home'),
    ('/w2word/', 'w2w', 'w2word') ,
    ('/w2synonym/', 'w2synonym', 'w2synonym'),
    ('/w2concept2w/', 'w2concept2w', 'w2concept2w'),
    ('/w2w_gds/', 'w2w_gds', 'w2w_gds'),
    ('/w2w_sim/', 'w2w_sim', 'w2w_sim')] -%}



{% set active_page = active_page|default('home') -%}
<ul class="nav nav-tabs" id="navigation">
    {% for href, id, caption in navigation_bar %}
    <li class="nav-item">
      <a {% if id == active_page %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ href|e }}">{{ caption|e }}</a>
    </li>
{% endfor %}
</ul>

<div class="container">
  {% block content %} {% endblock %}
</div>

</body>
</html>